<div class = "container">
  <h1>Menu</h1>
  <div *ngIf = "loading"  class = "flex-center-vertically text-center">
    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf = "!loading" class="row">
    <div class = "col-md-10">
      <div class="row row-cols-1 row-cols-md-4">
        <ng-container class="col-mb4" *ngFor = "let pizza of menu; let i = index" >
          <div class="card-group">
            <div class="card h-80" style="width: 30rem; margin-left: 5px;">
              <img src="./assets/images/pizzaBig.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ pizza.name }}</h5>
                <p class="card-text">{{ pizza.description }}</p>
                <p class="card-text">Price: {{ getPriceInActiveCurrency(pizza.price)}} {{getActiveCurrenyMark()}}</p>
                <button class="btn btn-outline-primary" (click)="addToCart(i)">Add to cart</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-2">
        <app-cart-summary></app-cart-summary>
        <a *ngIf = "getCartLength()" routerLink="/cart" class="btn btn-primary btn-sm">Order Now</a>
    </div>
  </div>

</div>
