<div class = "container">
  <h1>Place your order</h1>

  <div class="row">
    <div class = "col-md-10">
      <form>
        <div class="form-group">
          <label for="inputAddress">Deliver to address:</label>
          <input type="text" class="form-control" id="inputAddress" value="{{user.address}}" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputPhone">Contact Phone:</label>
          <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="phone" [ngClass] = "{'is-invalid': !testNumber(), 'is-valid': testNumber()}" placeholder="Phone" name = "phone">
        </div>
      </form>
      <button class="btn btn-primary">Confirm order</button>

    </div>

    <div class="col-md-2">
        <app-cart-summary></app-cart-summary>
    </div>
  </div>

</div>
