
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions"
    [checked]="currencies[0].active"
    (change)="setCurrency(0)"
     id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">$</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions"
    [checked]="currencies[1].active"
    (change)="setCurrency(1)"
   id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">€</label>
</div>
<div *ngIf = "getCartLength()" class="card border-secondary mb-3" style="width: 10rem;">
  <div class="card-header">Cart Summary</div>
  <div class="card-body text-secondary">
    <p class="card-text">Total Items: {{getCartLength()}}</p>
    <p class="card-text">Total qty: {{getCartQty()}}</p>
    <p class="card-text">
      <span *ngIf = "getCartShipping() || !getCartLength()">Shipping:<p> {{getPriceInActiveCurrency(getCartShipping())}} {{getActiveCurrenyMark()}}</p></span>
      <span *ngIf = "!getCartShipping() && getCartLength()">Shipping: Free</span>
    </p>
    <p class="card-text">Order total: {{getCartSum()}} {{getActiveCurrenyMark()}}</p>
  </div>
</div>
