<div class = "container">
  <h1>My Orders</h1>
  <p  *ngIf = "!orders.length">Your Cart is empty!</p>
  <!-- <a *ngIf = "!cart.length" routerLink="/menu" class="btn btn-outline-primary btn-sm">Choose your pizza here</a> -->
  <div *ngIf = "orders.length" class="row">
    <div class = "col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Delivered</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <ng-container class="" *ngFor = "let order of orders; let i = index" >
          <tr>
            <th scope="row">{{i}}</th>
            <td>{{order.date}}</td>
            <td>{{order.amountPaid}} {{getCurrencyMark(order.currency)}}</td>
            <td>{{order.delivered}}</td>
            <th scope="col">
              <button *ngIf = "!order.show" (click) = "showOrder(order.id, i)" class="btn btn-light"><i class="fa fa-angle-down"></i></button>

              <button *ngIf = "order.show" (click) = "showOrder(order.id, i)" class="btn btn-light"><i class="fa fa-angle-up"></i></button>
            </th>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>
