<div class = "container">
  <h1>My Orders</h1>
  <!-- <a *ngIf = "!cart.length" routerLink="/menu" class="btn btn-outline-primary btn-sm">Choose your pizza here</a> -->
  <div *ngIf = "orders.length" class="row">
    <div class = "col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-1">Id</th>
            <th class="col-xs-3">Date</th>
            <th class="col-xs-2">Amount</th>
            <th class="col-xs-2">Delivered</th>
            <th class="col-xs-2"></th>
          </tr>
        </thead>
        <ng-container class="" *ngFor = "let order of orders; let i = index" >
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.date}}</td>
            <td>{{order.amountPaid}} {{getCurrencyMark(order.currency)}}</td>
            <td>{{getDeliveredInfo(order.delivered)}}</td>
            <td>
              <button *ngIf = "!order.show" (click) = "showOrder(order.id, i)" class="btn btn-light"><i class="fa fa-angle-down"></i></button>

              <button *ngIf = "order.show" (click) = "showOrder(order.id, i)" class="btn btn-light"><i class="fa fa-angle-up"></i></button>
            </td>

          </tr>

          <tr *ngIf = "order.show">
            <td>
            </td>
            <td colspan = "6">
            <table class="table table-sm table-borderless">
              <ng-container class="" *ngFor = "let pizza of order.cart; let j = index" >
                <tr>
                  <td>
                    Pizza {{getPizzaName(pizza.itemId)}} Price: {{(pizza.price)}}{{getCurrencyMark(order.currency)}} Qty: {{pizza.qty}}
                  </td>

                </tr>
              </ng-container>
              <tr>
                <td colspan = "6">
                  Delivery cost: {{order.shippingCost}}{{getCurrencyMark(order.currency)}}
                </td>
              </tr>
              <tr>
                <td colspan = "6">
                  Address: {{order.address}} Phone: {{order.phone}}
                </td>
              </tr>
              <tr>
                <td colspan = "6">
                  <button (click) = "orderAgain(order.cart)" class="btn btn-light">Order again</button>
                </td>
              </tr>
            </table>
            </td>
          </tr>
          <tr *ngIf = "order.loading">
            <td colspan = "7">
              <div  class = "flex-center-vertically text-center">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>
